body {
    color: #988b9c;
    font-family: "Comic Sans MS";
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #988b9c;
}
a:hover {
    color: #726477;
}

.restart {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    padding: 4px 8px;
    border: 3px solid #988b9c;
    border-radius: 3px;
    width: 120px;

    margin-bottom: 10px;
}

#game-complete {
    pointer-events: none;
    color: #6a5d6d;
    font-family: "Comic Sans MS";
    font-size: 300px;
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 50%;

    transition: top 1s linear;
    /*transition-delay: 1s;*/
}
#game-complete-text {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#minesweeper-container {
    border-top: 5px solid #988b9c;
    border-left: 5px solid #988b9c;
}

.grid_row {
    /*height: 50px;*/
    display: block;
    text-align: center;
}

.grid_col {
    width: 65px;
    /*display: inline-block;*/

    padding: 0;
}

.tile {
    width: 60px;
    height: 60px;

    background-color: #ded9df;

    border-top: 5px solid #f4f2f4;
    border-left: 5px solid #f4f2f4;
    border-bottom: 5px solid #988b9c;
    border-right: 5px solid #988b9c;
}

.tile:hover {
    background-color: rgba(169,161,175,0.6);
}

.tile_flag {
    background-color: white;
}

.tile_bomb {
    background-color: #76767b;
    border: 5px solid #76767b;
}
.tile_bomb:hover {
    background-color: #76767b;
    border: 5px solid #76767b;
}
.tile_revealed {
    background-color: white;
    font-size: 30px;
    font-weight: bold;

    /*border: 3px solid #f4f2f4;*/
}
.tile_revealed:hover {
    background-color: white;
}

.text_one {

}
.text_two {
    /*color: #584c5d;*/
    color: #655769;
}
.text_three {
    color: #392d3e;
}